#include "resource.h"
#include <windows.h>

IDD_MAIN DIALOGEX DISCARDABLE  0, 0, 175, 78
STYLE DS_CENTER | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "You unboxed a:"
FONT 8, "Microsoft Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,117,57,50,16
END

